*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}


/*STRUCTURE*/
body{
  background: url(theme/bg.jpg)no-repeat center fixed;
  background-size: cover !important;
  font-size: 12px;
  margin: 20px;
}
.wrapper{
  margin: 0 auto;
  width: 700px;
}
header{

  color: white;
}

/* HEADER */
header>div{
    background-color: rgba(0,0,0,0.7);
}
header>div>div:first-child>p{
  padding: 5px 0 0 5px;
  margin: 0px;
}
header>div>div:first-child{
  float: left;
}
header>div>div:last-child{
  float: right;
    margin: 5px 5px 0 0 ;
}
header>div>div:last-child input{
  color: black;
  padding-left:5px;
}
header>div>div:last-child button{
  color: black;
}

header h1{
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 3em;
  padding: 30px;
  margin-bottom: 0;
  margin-top: 0px;
}
header nav{
  border-top: 2px solid silver;
  padding: 0px;
  margin: 0;
}
header ul{
  padding: 0;
  margin: 0;
}
header ul li{
  text-align: center;
  width: 33.33%;
  display: inline-block;
  vertical-align: middle;
}
header ul li a{
  background-color: rgba(0,0,0,0.7);
  font-size: 1.8em;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 100%;
}
header ul li a:hover, header ul li a:active{
  color: black;
  background-color: rgba(255,255,255,0.7);
}


/* SECTION */
section{
  margin-top: 0px;
  background-color: rgba(255,255,255,0.7);
  padding: 20px 20px 30px 20px;
  word-wrap: break-word;
}
h2{
  color: black;
  font-size: 2em;
  text-transform: capitalize;
}
h3{
  color: #4A5B66;
  margin-top: 40px;
}


/* ARTICLE */ 
article{
  padding-top: 0px;
  padding-bottom: 30px;
  border-bottom: 2px dotted black;
}
article:last-child{
  border-bottom: none;
}
article h2>a{
  color: #4A5B66;
  text-decoration: none;
}
img{
  width: 100%;
}

/* Lien "lire la suite" */
.content500 a{
  text-decoration: none;
}


/* TAGS */ 
.tag p{
  display: inline-block;
}



/* FORM LOGIN & CONNECTION*/
.formuser{
  margin: 0 auto;
  width: 50%;
}
.formuser>form>div{
  vertical-align: middle;
  line-height: 20px;
  margin: 5px;
}
.formuser label{
  float: left;
  width: 36%;
}
.formuser input{
  float: left;
  width: 50%;
}
.formuser button{
  display: block;
  margin: 15px auto;
}
.formuser p{
/*  padding-left: 10px;*/
  margin: 0 0 10px 5px;
  font-size: 0.75em;
}
.formuser p span{
  color: red;
}



/* FORM ARTICLE */
.formpost{
  margin: 0 auto;
  width: 50%;
}
.formpost>form>div{
  vertical-align: middle;
  line-height: 20px;
  margin-bottom: 5px;
}
.formpost label{
  float: left;
  width: 20%;
}
.formpost input{
  float: left;
  width: 80%;
}
.formpost textarea{
  resize : vertical;
  height: 150px;
  width: 100%;
}
.formpost form>button{
  display: block;
  margin: 15px auto;
}


.formpost input.upload{
  margin: 5px 0 5px 0 ;
  float: none;
  display: block;
  width: 80%;
}
.formpost .addpicture{
  margin-top: 20px;
  margin-bottom: 20px;
}
.formpost .addpicture p{
  width: 100%;
  margin: 0;
}
.formpost .addpicture img{
  display: block;
  width: 20%;
  margin: 0;
  margin-left: 20px;
}
.formpost .addpicture input{
  float: none;
  display: inline-block;
  width: 5%;
  vertical-align: middle;
}



/* FORM COMMENT */
.formcomment{
  width: 50%;
}
.formcomment textarea{
  resize : vertical;
  height: 100px;
  width: 100%;
}
.formcomment form>button{
  display: block;
  margin-top:15px;
}

/* FORM LOGOUT */
.formlogout{
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
.formlogout label, .formlogout button{
  display: inline-block;
}
.formlogout label{
  margin-right: 10px;
}
.formlogout button{
  margin-right: 5px;
}

/* FORM EDIT */
.formedit, .formerase{
  display: inline-block;
}
.formedit textarea{
  resize : vertical;
  height: 100px;
  width: 100%;
}




/* FOOTER */
footer{
  padding: 5px;
  background-color: rgba(0,0,0,0.7);
}
footer nav{
  padding: 0;
  margin: 0;
}
footer ul{
  padding: 0;
  text-align: center;
}
footer ul li{
  display: inline-block;

}
footer ul li:first-child{
  padding-right: 30px;
}
footer ul li:last-child{
  padding-left: 30px;
}
footer a{
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

